#SIS2406 - Estructura de Datos y Algoritmos
## Primavera 2024

<div>
<img src="https://drive.google.com/uc?export=view&id=1_ZAbL21argoGVFRpHidRYf5vOKgdusal" width="250"/>
</div>

### SIS2406_Lab_1.1a

**Enrique Naredo García**

<font size = 2>
©️ Todos los derechos reservados. All rights reserved.

*Nota: El presente documento es una herramienta diseñada única y exclusivamente para los estudiantes de la asignatura arriba mencionada. Se recuerda no compartir esta información fuera de los integrantes registrados en este curso. La reproducción total o parcial de este documento requiere autorización por escrito del titular del copyright.*
</font>

#1.1 Introducción

En esta práctica se introduce los tipos de datos utilizados en Python.


Se utiliza Jupyter notebook para ejecutar directamente en cada celda el código generado en Python.

En cada sección se da una breve explicación y posteriormente se proporciona un ejemplo en código.

**Notas:**

* En Python el símbolo #, se utiliza para agregar un comentario (el cual no se ejecuta).
* Se recomienda realizar la práctica utilizando el lenguaje de programación correspondiente.
* Se recomienda realizar modificaciones al código para verificar y comprender de manera correcta el funcionamiento del mismo.

## Python

Python es un lenguaje interpretado, lo cual quiere decir que no se compila.

* Python ejecuta directamente el código línea por línea.
* Si existen errores en el código del programa, su ejecución se detiene.

###Proceso

1. Escribir el código en cada celda.
2. Guardar el archivo ejemplo.py en un folder
3. Ejecutarlo con la instrucción python ejemplo.py

**Notas:**

* En Google Colab los Jupyter notebooks usualmente se guardan en la siguiente ruta: /content/drive/MyDrive/Colab Notebooks/.
* En Google Colab si el archivo se guarda en el directorio: /content, entonces al momento de cerrar la sesión este archivo desaparecera.
* Si se requiere mantener los archivos, entonces se recomienda montar primero el Google drive y crear un directorio para tal fin.

##Enteros

Enteros (int): números enteros sin decimales, como 4 o -12.

In [4]:
## Ejemplo de entero (int)

 # asignamos el valor 7 al entero "numero_entero"
numero_entero = 7

# imprime "numero_entero"
print(numero_entero)

7

## Reales

Reales (float): Números decimales, como 3,14 o -0,01.

In [5]:
## Ejemplo de float

# asignamos el valor 2.5 al float "numero_real"
numero_real = 2.5

# imprime "numero_real"
print(numero_real)

2.5

## Cadenas

Cadenas (str): Secuencias de caracteres, como "hola" o "Python".

In [6]:
## Ejemplo de string

 # asignamos la cadena "Hola, mundo!" a la variable "cadena"
cadena = "Hola, mundo!"

# imprime "cadena"
print(cadena)

Hola, mundo!

##Booleanos

Booleanos (bool): valores lógicos que pueden ser Verdadero (True) o Falso (False).

In [7]:
## Ejemplo de booleano

# asignamos el valor True al booleano "verdadero_falso"
verdadero_falso = True

# imprime "verdadero_falso"
print(verdadero_falso)

True

##Listas

Listas (list): Colecciones ordenadas de elementos que pueden ser de diferentes tipos de datos.

In [9]:
## Ejemplo de lista

# asignamos una lista de diferentes tipos de datos a la variable "lista"
lista = [3, "manzana", 4.5, True]

# imprime "lista"
print("Esta es mi lista: ",lista)

Esta es mi lista:  [3, 'manzana', 4.5, True]

##Tuplas

Tuplas (tupla): colecciones ordenadas de elementos que son inmutables, lo que significa que no se pueden cambiar una vez creadas.

In [10]:
## Ejemplo de tupla

# asignamos una tupla de diferentes tipos de datos a la variable "tupla"
tupla = (1, "perro", 3.14)

# imprime "tupla"
print("Esta es mi tupla: ",tupla)

Esta es mi tupla:  (1, 'perro', 3.14)

##Conjuntos

Conjuntos (conjunto): colecciones desordenadas de elementos únicos que no pueden contener duplicados.

In [11]:
## Ejemplo de conjunto (set)

# asignamos un set con valores únicos a la variable "conjunto"
conjunto = {1, 2, 3, 3, 3, 4, 4, 5}

# imprime "conjunto"
print("Este es mi conjunto: ",conjunto)

Este es mi conjunto:  {1, 2, 3, 4, 5}

##Diccionarios

Diccionarios (dict): colecciones desordenadas de pares clave-valor.

In [13]:
## Ejemplo de diccionario

# asignamos un diccionario con claves y valores a la variable "diccionario"
diccionario = {"nombre": "Juan", "edad": 30, "ciudad": "Cancun"}

# imprime "diccionario"
print("Estos son mis datos: ",diccionario)

Estos son mis datos:  {'nombre': 'Juan', 'edad': 30, 'ciudad': 'Cancun'}