#SIS2406 - Estructura de Datos y Algoritmos
## Primavera 2024

<div>
<img src="https://drive.google.com/uc?export=view&id=1_ZAbL21argoGVFRpHidRYf5vOKgdusal" width="250"/>
</div>

### SIS2406_Python_1.4

**Enrique Naredo García**

<font size = 2>
©️ Todos los derechos reservados. All rights reserved.

*Nota: El presente documento es una herramienta diseñada única y exclusivamente para los estudiantes de la asignatura arriba mencionada. Se recuerda no compartir esta información fuera de los integrantes registrados en este curso. La reproducción total o parcial de este documento requiere autorización por escrito del titular del copyright.*
</font>

#1.4 Estructuras

## Estructura de datos

En ciencias de la computación, una estructura de datos es una forma particular de organizar información en un computador para que pueda ser utilizada de manera eficiente.​

* Diferentes tipos de estructuras de datos son adecuados para diferentes tipos de aplicaciones, y algunos son altamente especializados para tareas específicas.

* Las estructuras de datos son medios para manejar grandes cantidades de información de manera eficiente para usos tales como grandes bases de datos y servicios de indización de Internet.

* Por lo general, las estructuras de datos eficientes son clave para diseñar algoritmos eficientes. Algunos métodos formales de diseño de lenguajes de programación destacan las estructuras de datos, en lugar de los algoritmos, como el factor clave de organización en el diseño de software.

* Más precisamente, una estructura de datos es una colección de valores, las relaciones entre ellos y las funciones y operaciones que se pueden aplicar a los datos, es decir, es una estructura algebraica de datos.

## Tipos de estructura de datos

Los tipos de datos son la clasificación o categorización de elementos de datos.

Representa el tipo de valor que indica qué operaciones se pueden realizar con un dato en particular.

Como todo es un objeto en la programación de Python, los tipos de datos son clases y las variables son instancias (objetos) de estas clases.

Los siguientes son los tipos de datos estándar o integrados en Python:

* Text Type
  * str
* Numeric Types
  * int
  * float
  * complex
* Sequence Types
  * list
  * tuple
  * range
* Mapping Type
  * dict
* Set Types
  * set
  * frozenset
* Boolean Type
  * bool
* Binary Types
  * bytes
  * bytearray
  * memoryview
* None Type
  * NoneType

In [ ]:
# tipos de datos integrados en Python

A = "Hello World"
print(type(A))

B = 20
print(type(B))

C = 20.5
print(type(C))

D = 1j
print(type(D))

E = ["apple", "banana", "cherry"]
print(type(E))

F = ("apple", "banana", "cherry")
print(type(F))

G = range(6)
print(type(G))

H = {"name" : "John", "age" : 36}
print(type(H))

I = {"apple", "banana", "cherry"}
print(type(I))

J = frozenset({"apple", "banana", "cherry"})
print(type(J))

K = True
print(type(K))

L = b"Hello"
print(type(L))

M = bytearray(5)
print(type(M))

N = memoryview(bytes(5))
print(type(N))

O = None
print(type(O))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

###Listas

In [ ]:
# Las listas en Python permiten duplicados
# Noten los corchetes
miLista = ["Manzana", "Platano", "Cereza", "Manzana", 123, 123, 456, False, True, True]
print(type(miLista))
print(miLista)
print("Numero de elementos: ", len(miLista))

<class 'list'>
['Manzana', 'Platano', 'Cereza', 'Manzana', 123, 123, 456, False, True, True]
Numero de elementos:  10

In [ ]:
# Se puede utilizar el constructor de listas en Python
# Noten los dobles parentésis
otraLista = list(("Pera", "Kiwi", "Coco", 12.3, 1.23, 45.6, False, True))
print(type(otraLista))
print(otraLista)
print("Numero de elementos: ", len(otraLista))

<class 'list'>
['Pera', 'Kiwi', 'Coco', 12.3, 1.23, 45.6, False, True]
Numero de elementos:  8

###Tuplas

In [ ]:
# Las tuplas en Python permiten duplicados
# Noten los parentésis
miTupla = ("Manzana", "Platano", "Cereza", "Manzana", 123, 123, 456, False, True, True)
print(type(miTupla))
print(miTupla)
print("Numero de elementos: ", len(miTupla))

<class 'tuple'>
('Manzana', 'Platano', 'Cereza', 'Manzana', 123, 123, 456, False, True, True)
Numero de elementos:  10

In [ ]:
# Se puede utilizar el constructor de tuplas en Python
# Noten los dobles parentésis
otraTupla = tuple(("Pera", "Kiwi", "Coco", 12.3, 1.23, 45.6, False, True))
print(type(otraTupla))
print(otraTupla)
print("Numero de elementos: ", len(otraTupla))

<class 'tuple'>
('Pera', 'Kiwi', 'Coco', 12.3, 1.23, 45.6, False, True)
Numero de elementos:  8

In [ ]:
# Cuando se usa un solo elemento se debe agregar una coma al final
unElemento = ("uno",)
print(type(unElemento))
print(unElemento)
print("Numero de elementos: ", len(unElemento))

<class 'tuple'>
('uno',)
Numero de elementos:  1

###Conjuntos

In [ ]:
# Los conjuntos en Python NO permiten duplicados
# Noten las llaves
miConjunto = {"Manzana", "Platano", "Cereza", "Manzana", 123, 123, 456, False, True, True}
print(type(miConjunto))
print(miConjunto)
print("Numero de elementos: ", len(miConjunto))

<class 'set'>
{False, True, 'Manzana', 456, 123, 'Cereza', 'Platano'}
Numero de elementos:  7

In [ ]:
# Se puede utilizar el constructor de conjuntos en Python
# Noten los dobles parentésis
# Los valores True y 1 se tratan como duplicados
# Los valores False y 0 se tratan como duplicados
otroConjunto = set(("Pera", "Kiwi", 1.23, 45.6, True, 1, False, 0))
print(type(otroConjunto))
print(otroConjunto)
print("Numero de elementos: ", len(otroConjunto))

<class 'set'>
{False, 1.23, True, 45.6, 'Kiwi', 'Pera'}
Numero de elementos:  6

###Diccionarios

Un diccionario es una colección ordenada, modificable y que no permite duplicados.

In [ ]:
# El diccionario no permite duplicados

miDiccionario =	{
  "marca": "Ford",
  "modelo": "Mustang",
  "año": 1964,
  "electrico": False,
  "colores": ["rojo", "blanco", "azul"]
}

# imprime todo el diccionario
print(miDiccionario)

# imprime solo un elemento usando su clave
print(miDiccionario["colores"])

# imprime solo un elemento y una característica
print(miDiccionario["colores"][0])

{'marca': 'Ford', 'modelo': 'Mustang', 'año': 1964, 'electrico': False, 'colores': ['rojo', 'blanco', 'azul']}
['rojo', 'blanco', 'azul']
rojo

In [ ]:
# Se puede utilizar el constructor de diccionarios
otroDiccionario = dict(name = "Juana", edad = 22, ciudad = "Cancún")
print(otroDiccionario)

{'name': 'Juna', 'edad': 22, 'ciudad': 'Cancún'}

##Estructuras de control

##Condicional

In [ ]:
# condicional con 3 condiciones

a = 200
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
# condicional en una línea

a = 200
b = 33

print("b is greater than a") if b > a else print("a and b are equal") if a == b else print("a is greater than b")

a is greater than b

###While

In [ ]:
# Ejemplo de while con continue, break y condicionales

n = 10

while n > 0:
  n -= 1
  if n == 8 or n == 6:
    print('No imprime el ' + str(n))
    continue
  elif n < 3:
    print('Aplicación de break')
    break
  print(n)

print('While terminado')

9
No imprime el 8
7
No imprime el 6
5
4
3
Aplicación de break
While terminado

###For

In [ ]:
# Ejemplo de For con condicionales

verduras = ["calabaza", "chayote", "zanahoria"]
frutas = ["manzana", "platano", "cereza"]

for v in verduras:
  for f in frutas:
    if v == "chayote":
      print('No me gusta comer',v,' pero si ', f)
    elif v == "calabaza":
      print('Si me gusta comer',v,' y ', f)
    else:
      print('A veces como ',v,' con ', f)

Si me gusta comer calabaza  y  manzana
Si me gusta comer calabaza  y  platano
Si me gusta comer calabaza  y  cereza
No me gusta comer chayote  pero si  manzana
No me gusta comer chayote  pero si  platano
No me gusta comer chayote  pero si  cereza
A veces como  zanahoria  con  manzana
A veces como  zanahoria  con  platano
A veces como  zanahoria  con  cereza

###Funciones

In [ ]:
 # Combinación de solo-posicional (/) y solo-keyword (*)

 def mi_funcion(a, b, /, *, c, d):
  print(a + b - c * d)

mi_funcion(45, 6.2, c = -7, d = 8)

107.2

In [ ]:
# Ejemplo de recursión
def suma_n(n):
  if n == 0:
    return 0

  print(n)
  suma = n + suma_n(n-1)
  if n==1: print('----')
  print(suma)

  return suma

In [ ]:
print('Primero imprime n en órden descendiente\ny después la suma en órden ascendente:\n')
suma_n(10)

Primero imprime n en órden descendiente
y después la suma en órden ascendente:

10
9
8
7
6
5
4
3
2
1
----
1
3
6
10
15
21
28
36
45
55

55

###Lambda

In [ ]:
# usando lambda
sumaL = lambda n: 0 if n<0 else n+sumaL(n-1)

# probando la función
n = 10
result = sumaL(n)
print(f"La suma de todos los números positivos hasta {n} es {result}.")

La suma de todos los números positivos hasta 10 es 55.

##Clase

###class

Ejemplo de class que define un naipe.

In [2]:
class Naipe:
  def __init__(self, rango, figura):
    self.rango = rango
    self.figura = figura

Ejemplo de uso de la clase Naipe.

In [5]:
# Define una carta valida
carta = Naipe('Q', 'Corazones')
print(f"Rango: {carta.rango}, Figura: {carta.figura}")

Rango: Q, Figura: Corazones

In [6]:
# Define una carta no valida
carta = Naipe('H', 'TikTok')
print(f"Rango: {carta.rango}, Figura: {carta.figura}")

Rango: H, Figura: TikTok

Aquí tienen una clase de Naipe más elaborada.

In [42]:
class Naipe2:
  def __init__(self, rango, figura):

    # rango
    self.rangos = (None, "As", 2, 3, 4, 5, 6, 7, 8, 9, 10, "Sota", "Reina", "Rey")
    self.rango = self.rangos[rango]

    # figura
    self.figuras = {"d": "Diamantes", "t": "Tréboles", "c": "Corazones", "e": "Espadas"}
    self.figura = self.figuras[figura]

    # color
    if self.figura == "t" or self.figura == "e":
      self.color = "negro"
    else:
      self.color = "rojo"

    # valor
    if self.rango == "As":
      self.valor = 1
    elif self.rango == "Sota" or self.rango == "Reina" or self.rango == "Rey":
      self.valor = 10
    elif type(self.rango) is int:
      if self.rango > 1 and self.rango < 11:
        self.valor = self.rangos[self.rango]

  # Obtener el rango
  def getRango(self):
    return self.rango

  # Obtener la figura
  def getFigura(self):
    return self.figura

  # Función para imprimir carta
  def __str__(self):
    return "La carta que seleccionaste es: " + str(self.rango) + \
           " de " + str(self.figura) + ", color " + str(self.color) + \
           ", con valor de " + str(self.valor) + " punto(s)."

In [34]:
## Define una carta usando 2 argumentos
# 1) valor: 1,   2, 3, 4, 5, 6, 7, 8, 9, 10,     11,     12,    13, correspondiente a:
#          "As", 2, 3, 4, 5, 6, 7, 8, 9, 10, "Sota", "Reina", "Rey"; y
# 2) figura: "d",         "t",        "c",         "e"; correspondientes a:
#            "Diamantes", "Tréboles", "Corazones", "Espadas"

carta2 = Naipe2(11, 'd')
print(f"Rango: {carta2.rango}, Valor: {carta2.valor}, Figura: {carta2.figura}, Color: {carta2.color}")

Rango: Sota, Valor: 10, Figura: Diamantes, Color: rojo

In [43]:
# usando el método __str__(self)
carta3 = Naipe2(1, 't')
print(carta3)

La carta que seleccionaste es: As de Tréboles, color rojo, con valor de 1 punto(s).

In [50]:
# usando los getters
print(carta3.getRango())
print(carta3.getFigura())

As
Tréboles

###dataclass

Ejemplo de @dataclass que define un naipe.

In [54]:
from dataclasses import dataclass

@dataclass
class dcNaipe:
  rango: str
  figura: str

In [55]:
carta4 = dcNaipe('Rey', 'Diamantes')
print(f"Rango: {carta4.rango}, Figura: {carta4.figura}")

Rango: Rey, Figura: Diamantes

###namedtuple
Ejemplo usando namedtuple que define un naipe.

In [57]:
from collections import namedtuple

ntNaipe = namedtuple('ntNaipe', ['rango', 'figura'])

In [58]:
carta5 = ntNaipe('Reina', 'Tréboles')
print(f"Rango: {carta5.rango}, Figura: {carta5.figura}")

Rango: Reina, Figura: Tréboles

###tuple
Ejemplo usando tuple que define un naipe.

In [59]:
def tuplaNaipe(rango, figura):
  return (rango, figura)

In [60]:
carta6 = tuplaNaipe('3', 'Corazones')
print(f"Rango: {carta6[0]}, Figura: {carta6[1]}")

Rango: 3, Figura: Corazones